
p.speech {
    position: absolute;
    bottom: 175px;
    left: 145px;
    width: 300px;
    height: 150px;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
    border: 4px solid #666;
    opacity: 0.8;
    pointer-events: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
  }
  p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 32px;
    top: 100%;
    border: 21px solid;
    border-color: #666 transparent transparent #666;
  }
  
  p.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100%;
    border: 14px solid;
    border-color: #fff transparent transparent #fff;
  }
  
  .albot{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
  }
  
  p.speech h1 {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
  }
  